<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form action="/action_page.php">
  <label for="fname">Por favor indique un nombre:</label><br>
  <input type="text" id="fname" name="fname" value="Nombre"><br>
  <label for="lname">Apellido:</label><br>
  <input type="text" id="lname" name="lname" value="Apellido"><br><br>
  <label for="lname">E-mail:</label><br>
  <input type="text" id="e-mail" name="lname" value="E-mail"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>